h1{
    text-align: center;
    width: 100%;
    border:solid 2px black ;
}
button{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
}
li{
    list-style: none;
    text-align: center;
}
table,th,td{
    border: ridge 2px black;
}
