#img_acceuil{
    width: 3rem;
    border: ridge 2px white;
    border-radius: 50%;
}
.navbar{
    padding: 0;
}
.fond:hover{
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.555);
}
.bg-nav{
    background-color: rgb(36, 41, 48);
}
.bg-body{
    background-color: rgb(107, 107, 106);
}